.banner {
	position: relative;
	display: flex;
	align-items: flex-end;
	width: calc(100% + 50px);
	height: 44vh;
	border-radius: 0 0 20px 20px;
	overflow: hidden;
	padding: 25px;
	margin-left: -25px;
}
.banner::before {
	position: absolute;
	content: '';
	z-index: 1;
	bottom: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
	background-image: linear-gradient(180deg, transparent 50%, rgba(0,0,0,1) 100%);
}
.banner::after {
	position: absolute;
	content: '';
	z-index: 1;
	bottom: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
	background-image: linear-gradient(0deg, transparent 65%, rgba(0,0,0,1) 100%);
}
.banner__imgs {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: var(--color-black);
}
.banner__imgs img {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}
.banner__cont {
	position: relative;
	z-index: 1;
	display: block;
	width: 100%;
	color: var(--color-white);
}
.banner__cont * {
	margin-bottom: 16px;
}
.banner__cont *:last-child {
	margin-bottom: 0;
}
