<section class="swiper__section">
    <div class="h3 bold text-line-2 swiper__section_title">Breakins News</div>

    <swiper [config]="swiperConfig" class="swiper__block">
        <ng-template swiperSlide *ngFor="let item of items">
            <div class="swiper__item">
                <a routerLink="/news-detail" class="swiper__item_imgs" (click)="getNewsDetail(item)">
                    <img [src]='item.urlToImage' alt>
                </a>
                <div class="swiper__item_cont">
                    <a routerLink="/news-detail" class="h4 media text-line-2" (click)="getNewsDetail(item)">{{item.title}}</a>
                    <div class="swiper__item_info">
                        <span class="time text-line-1">{{item.publishedAt}}</span>
                        <span class="author text-line-1">{{item.author}}</span>
                    </div>
                </div>
            </div>
        </ng-template>
    </swiper>
</section> 