<section class="banner">
    <div class="banner__imgs">
        <!-- <img src="#" alt> -->
    </div>
    <div class="banner__cont">
        <div class="label">News of the day</div>
        <h1 class="h1 bold color-white text-line-3">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magnam aliquam iure hic dolores a laboriosam, reiciendis facere eius voluptatem eveniet libero assumenda sit asperiores possimus unde culpa sed nisi corporis.</h1>
        <a href="#" class="btn-link">Learn More <span class="material-icons">east</span></a>
    </div>
</section>

<div class="spacer-sm"></div>

<app-swiper-block></app-swiper-block>

<div class="spacer-md"></div>
